# UE generated
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# IDE
.vs/
.vscode/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# OS
.DS_Store
Thumbs.db

# Local-only reference assets
media/
